<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-4" href="/"> <img src="https://firebasestorage.googleapis.com/v0/b/recipe-book-rahul.appspot.com/o/recipe-book.png?alt=media&token=90cb8462-cac4-4c10-b4df-55347d78e0dc" width="30" height="30" alt="Recipe Book"> Recipe Book</a>
    <button data-bs-toggle="collapse" class="navbar-toggler mx-4" data-bs-target="#navdata">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navdata">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link mx-4 mx-lg-0" routerLink="/recipes" routerLinkActive="active">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-4 mx-lg-0" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mx-4">
            <li class="nav-item">
                <a routerLink="/auth" class="nav-link">Login/SignUp</a>
            </li>
            <li class="dropdown nav-item mx-4 mx-lg-0">
                <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">Manage</a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;" class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
                    <li><a style="cursor: pointer;" class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>