<div class="row mt-4">
    <div class="col-md-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <label for="name">Name</label>
                    <input id="name" name="name" class="form-control" formControlName="name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <label for="imagePath">Image Path</label>
                    <input id="imagePath" name="imagePath" class="form-control" formControlName="imagePath">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="" class="rounded img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" class="form-control" rows="6" formControlName="description"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <div class="row mb-2" *ngFor="let ingredientCtrl of ingControls" [formGroup]="ingredientCtrl">
                            <div class="col-7">
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col-3">
                                <input type="number" class="form-control" formControlName="amount">
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-danger float-end"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>  
                    </div>
                    <hr>
                    <button type="button" class="btn btn-outline-success" (click)="onAddIngredient()"><i class="fa fa-plus"></i> Add Ingredient</button>
                    <button type="button" class="btn btn-outline-danger float-end" (click)="onCancel()">Cancel</button>
                    <button type="submit" class="btn btn-outline-success mx-2 float-end" [disabled]="!recipeForm.valid">Save</button>   
                </div>
            </div>  
        </form>
    </div>
</div>