<div class="mt-4"></div>
<div class="row">
    <div class="col-12">
        <img src="https://cdn.pixabay.com/photo/2018/08/30/20/47/gugelhupf-3643259_960_720.jpg" alt="" class="rounded img-fluid" width="50%">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Pie</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
       <div class="btn-group">
           <button class="btn btn-outline-primary dropdown-toggle" >
               Manage Recipe
           </button>
           <ul class="dropdown-menu">
               <li><a href="#"> To Shopping List </a></li>
               <li><a href="#"> Edit Recipe </a></li>
               <li><a href="#"> Delete Recipe </a></li>
           </ul>
       </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        This is a Pie
    </div>
</div>
<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>