<div class="row">
    <div class="col-12">

            <div class="row">
                <div class="col-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" #nameInput >
                </div>
                <div class="col-2">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" class="form-control" #amountInput >
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-outline-success"(click)="onAddIngredient()">Add</button>
                    <button class="btn btn-outline-danger mx-2">Delete</button>
                    <button class="btn btn-outline-primary">Clear</button>
                </div>
            </div>

    </div>
</div>